<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Bookalike</a>
    <div class="collapse navbar-collapse" id="a">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">All Books</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
                <a class="nav-link" routerLink="/mybooks" routerLinkActive="active">Mybooks</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="b" *ngIf="!isLoggedIn()">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="c" *ngIf="isLoggedIn()">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <span class="navbar-text">Welcome, {{getUsername()}}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>